
{{#partial "content"}}
    {{#if editEndangered}}
        <h1>Edit this endangered Animal</h1>
        <form action="/endangered/{{endangered.id}}" method="post">
            <div class="form-group">
                <label for="newName">Name</label>
                <input type="text" class="form-control" id="newName" name="newName" aria-describedby="emailHelp" placeholder="Enter Name"value="{{endangered.name}}">
            </div>
            <div class="form-group">
                <label for="newHealth">Password</label>
                <select class="form-control" id="newHealth" name="newHealth" value="{{endangered.health}}">
                    <option>Healthy</option>
                    <option>Ill</option>
                    <option>Okay</option>
                </select>
            </div>
            <div class="form-group">
                <label for="newAge">Age</label>
                <select class="form-control" id="newAge" name="newAge" value="{{endangered.age}}">
                    <option >Young</option>
                    <option >Adult</option>
                    <option >NewBorn</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {{else}}
        <h1>Add a new Endangered Animal!</h1>
        <form action="/endangered/new" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name"   name="name" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="health">Password</label>
                <select class="form-control" id="health" name="health">
                    <option>Healthy</option>
                    <option >Ill</option>
                    <option >Okay</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <select class="form-control" id="age" name="age">
                    <option >Young</option>
                    <option>Adult</option>
                    <option >NewBorn</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}