
{{#partial "content"}}
    {{#if editCategory}}
        <h1>Edit this endangered Animal</h1>
        <form action="/categories/{{category.id}}" method="post">
            <div class="form-group">
                <label for="name">Edit Endangered animal's Name</label>
                <input type="text" class="form-control" id="newName" aria-describedby="emailHelp" placeholder="Enter Name"value="{{category.name}}">
            </div>
            <div class="form-group">
                <label for="health">Password</label>
                <select class="form-control" id="newLocation"value="{{category.health}}">
                    <option value="healthy">Healthy</option>
                    <option value="ill">Ill</option>
                    <option value="okay">Okay</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <select class="form-control" id="newAge"value="{{category.health}}">
                    <option value="Young">Young</option>
                    <option value="Adult">Adult</option>
                    <option value="NewBorn">NewBorn</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {{else}}
        <h1>Add a new Endangered Animal!</h1>
        <form action="/categories" method="post">
            <div class="form-group">
                <label for="name">Edit Endangered animal's Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="health">Password</label>
                <select class="form-control" id="location">
                    <option value="healthy">Healthy</option>
                    <option value="ill">Ill</option>
                    <option value="okay">Okay</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <select class="form-control" id="age">
                    <option value="Young">Young</option>
                    <option value="Adult">Adult</option>
                    <option value="NewBorn">NewBorn</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}