{{#partial "content"}}
    {{#if editSighting}}
        <h1>Edit this category!</h1>
        <form action="/categories/{{category.id}}" method="post">
            <label for="name">Edit this category's name</label>
            <input id="newName" name="newName" type="text" value="{{category.name}}">
            <label for="health">Edit this category's name</label>
            <input id="newHealth" name="newHealth" type="text" value="{{category.health}}">
            <label for="age">Edit this category's name</label>
            <input id="newAge" name="newAge" type="text" value="{{category.age}}">
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    {{else}}
    <form action="/sightings" method="post">
        <div class="form-group">
            <label for="ranger">Ranger</label>
            <input type="text" class="form-control" id="ranger" placeholder="Ranger">
        </div>
        <div class="form-group">
            <label for="location">Example select</label>
            <select class="form-control" id="location">
                <option value="ZONE A">ZONE A</option>
                <option value="ZONE B">ZONE B</option>
                <option value="ZONE C">ZONE C</option>
                <option value="ZONE D">ZONE D</option>
                <option value="ZONE E">ZONE E</option>
            </select>
        </div>

        <div class="form-group">
            <label for="animalId">Animal Sighted</label>
            <select class="form-control" id="animalId">
                {{#each animals}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <button class="btn btn-info" type="submit" >Add Sighting</button>
    </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}
